@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.headerbar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.titlebar {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.headerwrap {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.name {
  font-size: 24px;
  padding: 10px;
}
.info {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: grey;
  transition: all 0.3s ease;
  transform: scaleY(0);
  transform-origin: 85% top;
  z-index: 1000;
}
.headerbar:hover .info {
  opacity: 1;
  transform: scaleY(1);
}
.info > div {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}
label {
  padding-left: 10px;
  padding-bottom: 10px;
}
.sobre {
  text-align: justify;
}
